@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: hsl(214, 17%, 92%);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    
}

.card {
    padding: 3em;
    border-radius: 0.7em;
    margin-top: 2em;
    box-shadow: hsl(0, 0%, 81%) 100px 100px 50px;
    background-color: white;
    color: hsl(217, 19%, 35%);
    width: 100%;
}

.card h2 {
    margin-bottom: 1em;
}

.nametag {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}


.avatar {
    border-radius: 50px;
    border: 3px solid;
    margin-right: 1.5em;
    height: 3em;
    border-color: white;
}

.purple {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(264, 82%, 80%);
}
.dimmed {
    opacity: 60%;
}

.gray {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(224, 10%, 45%);
}

.darkblue {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    border-color: hsl(263, 55%, 52%);
}

.daniel {
    grid-area: daniel;
}

.jonathan {
    grid-area: jonathan;
}

.kira {
    grid-area: kira;
}

.patrick {
    grid-area: patrick;
}

.jeanette {
    grid-area: jeanette;
}

@media screen and (min-width: 1440px) {
    main {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas:
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
        gap: 2em;
        row-gap: 0;
        align-items: unset;
    }
    .daniel {
        background-image: url(/images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 85% 0%;
    }
}
